---
title: About
layout: default
---

{% block content %}
<main class="mx-page mb-5 mt-3">
    <div class="d-flex flex-row w-100">
        <div class="me-4">
            <h1>About</h1>
            <div class="d-flex flex-row">
                <a href="#">OLAC FAQ</a>
                <span class="mx-1">&bull;</span>
                <a href="#">A Gentle Introduction to Metadata</a>
            </div>
        </div>
    </div>
    <section class="mt-4">
        <h2>OLAC Document Format</h2>
        <p>OLAC documents are authored in XML, and are validated against a DTD and rendered into HTML using an XSL stylesheet:</p>

        <ul class="unstyled">
            <li>
                {% include 'document.html' with {
                    title: 'OLAC_doc.dtd',
                    href: '#',
                    filesize: 500,
                    description: 'Document type definition.'
                } %}
            </li>
            <li>
                {% include 'document.html' with {
                    title: 'OLAC_doc.xsl',
                    href: '#',
                    filesize: 800,
                    description: 'XSL stylesheet.'
                } %}
            </li>
            <li>
                {% include 'document.html' with {
                    title: 'metadata.xml',
                    href: '#',
                    filesize: 800,
                    description: 'Example document.'
                } %}
            </li>
        </ul>
    </section>
    <section class="mt-4">
        <h2>Founding Documents</h2>
        <p>
            These documents were presented at the international workshop in December 2000 where OLAC was established. One hundred participants, representing language resource projects in North and South America, Europe, Africa, Asia and Australia, reviewed these documents and reached general consensus supporting the foundation of OLAC.
        </p>

        <ul class="unstyled mt-3">
            <li class="mb-2"><a href="#">The Seven Pillars of Open Language Archiving: A Vision Statement</a></li>
            <li class="mb-2"><a href="#">Requirements on the Infrastructure for Open Language Archiving</a></li>
            <li class="mb-2"><a href="#">A Survey of the State of the Art in Digital Language Documentation and Description</a></li>
            <li class="mb-2"><a href="#">White Paper on Establishing an Infrastructure for Open Language Archiving</a></li>
        </ul>
    </section>
    <section class="mt-4">
        <h2>Overview</h2>
        <p>
            The overview presents the background and vision of OLAC, as presented at the inaugural meeting which took place in Philadelphia in December 2000. It describes the language resources community, the Dublin Core metadata set and the Open Archives Initiative.
        </p>
        <ul class="unstyled mt-3">
            <li class="mb-2"><a href="#">OLAC Overview</a></li>
            <li class="mb-2"><a href="#">Philadelphia Meeting</a></li>
        </ul>
    </section>
    <section class="mt-4">
        <h2>Papers</h2>
        <ul class="unstyled mt-3">
            <li class="mb-2"><a href="#">A Metadata Search Engine for Digital Language Archives</a></li>
            <li class="mb-2"><a href="#">Metadata Quality Evaluation: Experience from the Open Language Archives Community</a></li>
            <li class="mb-2"><a href="#">The Open Language Archives Community: An infrastructure for distributed archiving of language resources</a></li>
            <li class="mb-2"><a href="#">Building an Open Language Archives Community on the DC Foundation</a></li>
            <li class="mb-2"><a href="#">Building an Open Language Archives Community on the OAI Foundation</a></li>
            <li class="mb-2"><a href="#">Seven Dimensions of Portability for Language Documentation and Description</a></li>
            <li class="mb-2"><a href="#">Extending Dublin Core Metadata to support the description and discovery of language resources</a></li>
            <li class="mb-2"><a href="#">The Open Language Archives Community: An Infrastructure for Distributed Archiving of Language Resources</a></li>
            <li class="mb-2"><a href="#">The Open Language Archives Community and Asian Language Resources</a></li>
            <li class="mb-2"><a href="#">The OLAC Metadata Set and Controlled Vocabularies</a></li>
        </ul>
    </section>
</main>
{% endblock %}