---
title: Search
layout: default
---

{% block content %}
<main class="mx-page mb-5 mt-3" x-data="{
    params: new URLSearchParams(window.location.search)
}">
    <div class="d-flex flex-row w-100">
        <div class="me-4">
            <h1>Search results for '<span x-text="params.get('q')"></span>'</h1>
            <p>
                Found 3 archives, 1 news article, 2 documents and 0 tools.
            </p>
        </div>
        <div class="ms-auto mt-2">
            {% include 'search-input.html' with { placeholder: 'Search documents, archives, news...' } %}
        </div>
    </div>
    <section class="mt-4">
        <h2>Results in Archives</h2>
        <ul class="unstyled">
            <li class="mb-3">
                {% include 'list-item.html' with {
                href: site.url ~ '/archives/aboriginal-studies-electronic-data-archive-aseda',
                title: 'Aboriginal Studies Electronic Data Archive (ASEDA)',
                description: 'Australian Institute of Aboriginal and Torres Strait Islander Studies, Canberra,
                Australia'
                } %}
            </li>
            <li class="mb-3">
                {% include 'list-item.html' with {
                href: site.url ~ '/archives/california-language-archive',
                title: 'California Language Archive',
                description: 'University of California, Berkeley, Department of Linguistic'
                } %}
            </li>
            <li class="mb-3">
                {% include 'list-item.html' with {
                href: site.url ~ '/archives/afbo-a-world-wide-survey-of-affix-borrowing',
                title: 'AfBo: A world-wide survey of affix borrowing',
                description: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany'
                } %}
            </li>
        </ul>
    </section>
    <section class="mt-4">
        <h2>Results in News</h2>
        <ul class="unstyled">
            <li class="mb-3">
                {% include 'list-item.html' with {
                    href: site.url ~ '/news/',
                    title: 'Linguistic Linked Open Data',
                    description: 'The OLAC system has now been integrated with the Linguistic Linked Open Data Cloud. Linked
                    Data is "a recommended best practice for exposing, sharing, and connecting pieces of data, information,
                    and knowledge on the Semantic Web using...',
                    label: 'Read more...'
                } %}
            </li>
        </ul>
    </section>
    <section class="mt-4">
    <h2>Results in Documents</h2>
        <ul class="unstyled">
            <li class="mb-3">
                {% include 'document.html' with {
                    href: site.url ~ '/news/',
                    title: 'RE',
                    description: '<i>Standard.</i>This document defines the format used by the Open Language Archives Community OLAC for the interchange of metadata within the framework of the Open Archives Initiative OAI. The metadata set is based on the complete set of Dublin Core metadata terms DCMT, but the format allows for the use of extensions to express community-specific qualifiers.',
                    filesize: 3600
                } %}
            </li>
            <li class="mb-3">
                {% include 'document.html' with {
                    href: site.url ~ '/news/',
                    title: 'OLAC Repositories (2008-07-28)  ',
                    description: '<i>Standard.</i>This document defines the standards OLAC archives must follow in implementing a metadata repository.',
                    filesize: 5100
                } %}
            </li>
        </ul>
    </section>
    <section class="mt-4">
        <h2>Results in Tools</h2>
        <p>No tools found for '<span x-text="params.get('q')"></span>'.</p>
    </section>
</main>
{% endblock %}